<% for member in @members %>

  <p>Name: <%= member.name() %> </p>
  <p>Age: <%= member.age()  %> </p>


  <form method="post" action="/members/<%= member.id %>/edit">
   <input type="submit" value="Edit Member"/>
 </form>
 <hr/>

<% end %>
