<form method="post" action="/members">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <label
  <label for="age-field"> Age:</label>
  <input id="age"
  type="number"
  name="age" />
  <input type="submit" value="Sign up member" />
</form>
<img class="joe-image" src="/images/new_average_joes_image.jpg">
