<form method="post" action="/gym_classes">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />

  <label for="spaces available">Spaces Available:</label>
  <input id="spaces available" type="text" name="spaces available" />

  <label for="minimum age">Minimum Age:</label>
  <input id="minimum age" type="number" name="minimum age" />

  <input type="submit" value="Create New Gym Class" />
</form>
