<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Average Joe's Gym</title>
      <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>

 <img class="test">
      <a href="/bookings">All Bookings</a>

      <a href="/bookings/new">Create Booking</a>

      <a href="/gym_classes">All Dodgball Classes</a>

        <a href="/gym_classes/new">Create Dodgball Class</a>

          <a href="/members">All Members</a>

          <a href="/members/new">Create Member</a>

</nav>
<%= yield %>
  </body>
</html>
